* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-auto-rows: 150px;
    gap: 10px;
    width: 80%;
    margin: 20px auto;
    justify-content: center;
}

.item {
    background-color: rgba(144, 238, 144, 0.4);
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.item:not(.header):not(.footer):hover {
    transform: scale(1.2);
    border: 2px solid lightgreen;
    box-shadow: 5px 10px 25px black;
}

header,
footer {
    grid-column: 1 / -1;
}

.medium {
    grid-row-end: span 2;
    background-color: orange;
}

.big {
    grid-row-end: span 3;
    background-color: lightblue;
}

.item > img {
    height: 100%;
    width: 100%;
}

.header, .footer {
    display: grid;
    align-items: center;
    justify-content: center;
}